<footer class="app-footer">
    <app-container>
        <div class="inner">
            <ul>
                <li>
                    <img src="assets/imagens/logo-com-tagline.png" alt="Logo da Aplicação Jornada">
                </li>
                <li>
                    Horário de atendimento: 08h - 20h (Segunda a Sábado)
                </li>
                <li>
                    Desenvolvido por Alura. Projeto fictício sem fins comerciais.
                </li>
            </ul>
            <ul class="socials">
                <li>Acesse nossas redes:</li>
                <li>
                    <button mat-icon-button>
                        <img src="assets/icones/whatsapp.png" alt="Ícone do Whatsapp">
                    </button>
                    <button mat-icon-button>
                        <img src="assets/icones/instagram.png" alt="Ícone do Instagram">
                    </button>
                    <button mat-icon-button>
                        <img src="assets/icones/twitter.png" alt="Ícone do Twitter">
                    </button>
                </li>
            </ul>
        </div>
    </app-container>
</footer>